<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>Модератор</title>
        <style>
            table, th, td {
              border: 1px solid rgb(132, 0, 255);
              text-align: center;
            }
        </style>
    </head>
    <body>

        <!--form action="#" method="post" th:action="${/addgas}" th:object="${newReceipt}"-->
        
        <a href="/moder/showstation">Перелік АЗС</a>
        <a href="/moder/addstation">Додати АЗС</a>
        <a href="/moder/addfuel">Додати пальне</a>
    </body>
</html>